@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-nunito-sans: var(--font-nunito-sans), ui-sans-serif, system-ui;
  --font-raleway: "Raleway", Arial, sans-serif;
  --color-dark-blue: rgba(0, 76, 255, 1);
  --color-light-blue: rgba(217, 228, 255, 1);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

